<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="middle tab-bar-section">
                <h1 class="title">Livesports</h1>
            </section>

        </nav>

        <section class="main-section">
            <!-- content goes here -->
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>