{{ successAdded }}

<form novalidate>
    <div class="row">
        <div class="large-12 columns">
            <input type="text" ng-model="message.pseudo" placeholder="Pseudo..." >
            <textarea ng-model="message.content" placeholder="Message..."></textarea>
            <input type="radio" name="action" value="1"/> Changement
            <input type="radio" name="action" value="2"/> Half time !
            <input type="radio" name="action" value="3"/> GOAL !!
            <input type="radio" name="action" value="4"/> Yellow card
            <input type="radio" name="action" value="5"/> Red Card
            <input type="radio" name="action" value="6"/> Off side
        </div>
        <button ng-click="submitForm(message)">Save</button>
    </div>
</form>

<hr/>
<h2>Rendu de votre commentaire : </h2>

<li><img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/earth-th-sm.jpg"> {{ message.pseudo }} : {{ message.content }}</li>
