
<select ng-options="message.username for message in messages | unique:'username'" ng-model="selectUser">
    <option value="">Tous</option>
</select>
<a href="#/add-message">Ajout d'un message</a>

<br/>

<ul ng-repeat="message in messages | filter:selectUser">
    <li><img class="th" src="http://foundation.zurb.com/docs/assets/img/examples/earth-th-sm.jpg"> {{ message.username }} : {{ message.message_content }}</li>
</ul>

